<div class="col-xs-12 col-sm-3" style="font-family:'华文新魏';">
    <div class="list-group">
        <a href="#" class="list-group-item disabled"><b>武林支付 50ZF</b></a>
        <a href="{:U('user/record')}" class="list-group-item [record]"><i class="glyphicon glyphicon-upload"></i> 资金变动 / Fund Change</a>
        <a href="{:U('user/moneyaccount')}" class="list-group-item [moneyaccount]"><i class="glyphicon glyphicon-list"></i> 提现账户管理 / Account Manage</a>
        <a href="{:U('user/applycash')}" class="list-group-item [applycash]"><i class="fa fa-reply"></i> 申请提现 / Withdraw</a>
        <a href="{:U('user/applycashrecord')}" class="list-group-item [applycashrecord]"><i class="fa fa-reorder"></i> 提现记录 / Withdraw Record</a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item disabled"><b>我是服主</b></a>
        <a href="{:U('server/applyserver')}" class="list-group-item [applyserver]"><i class="fa fa-tag"></i> 添加服务器 / Add Server</a>
        <a href="{:U('server/servers')}" class="list-group-item [servers]"><i class="fa fa-hdd-o"></i> 我的服务器 / My Servers</a>
        <a href="{:U('server/player')}" class="list-group-item [player]"><i class="fa fa-group"></i> 服务器玩家 / My Players</a>
        <a href="{:U('server/playerlog')}" class="list-group-item [playerlog]"><i class="fa fa-flickr"></i> 玩家消费记录 / Player Logs</a>
        <a href="{:U('server/manual')}" class="list-group-item [manual]"><i class="fa fa-pencil"></i> 手工充值/扣款 / Manual</a>
        <a href="http://wiki.ddmcloud.com/index.php?title=武林支付" class="list-group-item [devalop]" target="_blank"><i class="fa fa-book"></i> 配套插件 / Plugins</a>
        <!--
<a href="http://ci.mcrmb.com" class="list-group-item " target="_blank"><i class="icon-download-alt"></i> 插件下载 / Plugins Download</a>
<a href="/Main/showServerPlayer" class="list-group-item "><i class="icon-group"></i> 服务器玩家 / My Players</a>
<a href="/Main/showManual" class="list-group-item "><i class="icon-pencil"></i> 手工充值/扣款 / Manual</a>
<a href="/Main/showServerCharge" class="list-group-item "><i class="icon-download"></i> 服内充值记录 / Server Charge</a>
<a href="/Main/showServerConsume" class="list-group-item "><i class="icon-money"></i> 服内消费记录 / Server Consume</a>
<a href="/Main/showPlayerCard" class="list-group-item "><i class="icon-credit-card"></i> 玩家充值卡记录 / Players Cards</a>
<a href="/Main/showPlayerAlipay" class="list-group-item "><i class="icon-money"></i> 玩家支付宝记录 / Players Alipay</a>
<a href="/Main/showPlayerWxpay" class="list-group-item "><i class="icon-money"></i> 玩家微信记录 / Players Wxpay</a>
        -->
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item disabled"><b>开发者</b></a>
        <a href="http://wiki.ddmcloud.com/index.php?title=武林支付" class="list-group-item [devalop]" target="_blank"><i class="fa fa-connectdevelop"></i> 开发文档 / develop</a>
    </div>
</div>